<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ASSIGNMENTJAVA_PD10303</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>hoi</display-name>
    <servlet-name>hoi</servlet-name>
    <servlet-class>com.poly.servlet.hoi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hoi</servlet-name>
    <url-pattern>/hoi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.poly.controller.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.poly.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>index</display-name>
    <servlet-name>index</servlet-name>
    <servlet-class>com.poly.controller.index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dangxuat</display-name>
    <servlet-name>dangxuat</servlet-name>
    <servlet-class>com.poly.controller.dangxuat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangxuat</servlet-name>
    <url-pattern>/dangxuat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersServlet</display-name>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>com.poly.controller.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/UsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsServlet</display-name>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>com.poly.controller.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/NewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dangki</display-name>
    <servlet-name>dangki</servlet-name>
    <servlet-class>com.poly.controller.dangki</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dangki</servlet-name>
    <url-pattern>/dangki</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewView</display-name>
    <servlet-name>NewView</servlet-name>
    <servlet-class>com.poly.controller.NewView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewView</servlet-name>
    <url-pattern>/NewView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VanhoaServlet</display-name>
    <servlet-name>VanhoaServlet</servlet-name>
    <servlet-class>com.poly.controller.VanhoaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VanhoaServlet</servlet-name>
    <url-pattern>/VanhoaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategogyServlet</display-name>
    <servlet-name>CategogyServlet</servlet-name>
    <servlet-class>com.poly.controller.CategogyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategogyServlet</servlet-name>
    <url-pattern>/CategogyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsletterServlet</display-name>
    <servlet-name>NewsletterServlet</servlet-name>
    <servlet-class>com.poly.controller.NewsletterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsletterServlet</servlet-name>
    <url-pattern>/NewsletterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.poly.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoiMatKhauServlet</display-name>
    <servlet-name>DoiMatKhauServlet</servlet-name>
    <servlet-class>com.poly.controller.DoiMatKhauServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoiMatKhauServlet</servlet-name>
    <url-pattern>/DoiMatKhauServlet</url-pattern>
  </servlet-mapping>
</web-app>